<!DOCTYPE html>
<html>
<head>
    <title>Cron Job Manager</title>
</head>
<body>
    <h1>Cron Job Manager</h1>
    <form method="POST" action="/create">
        <label for="command">Command:</label>
        <select id="command" name="command" required>
            {% for file in files %}
            <option>
               python3 {{ file }}
            </option>
        {% endfor %}
        </select>
        
        <br>
        <label for="schedule">Schedule (e.g., */5 * * * *):</label>
        <input type="text" id="schedule" name="schedule" required><br>
        <button type="submit">Create Cron Job</button>
    </form>
    <hr>
    <h2>Cron Jobs:</h2>
    <ul>
        {% for job in jobs %}
            <li>
                {{ job }}
                <a href="/delete/{{ loop.index }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
